.btn{
    height: 50px;
    width: 55%;
    border-radius: 25.5px;
    background-color: #0a2640;
    color:white;
    font-size: 125%;
}
@media only screen and (min-width:600px)
{
    .btn{
            height: 70px;
    width: 55%;
    border-radius: 35.5px;
    background-color: #0a2640;
    color:white;
    font-size: 125%;
    }
}